* {
  cursor: text;
}

body {
  font-family: Cutive Mono,Courier New,Consolas,monospace!important;
  font-size: 17px!important;
  background-color: #000000;
  color: #00cc33;
}

body ::selection {
  background-color: #00cc33;
  color: #ffffff;
}

#root {
  line-height: 23px;
}

#shell-info {
  color: #00cc338d;
}


.input-text{
  font-size: 17px;
  outline: none;
  padding-right: 0;
}

.input-tip {
  opacity: .5;
}

.ls{
  display: inline-block;
  box-sizing: border-box;
  padding-right: 30px;
}


.ls-dir {
  color: #228de4;
}

.help-item {
  padding-right: 30px;
}

#matrix {
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
