*{
  margin: 0;
  padding: 0;
  overflow: hidden;
} 

body {
  color: #00FF41;
  background-color: #000;
  font-family: Cutive Mono,Courier New,Consolas,monospace!important;
  margin: 0;
  padding: 5px;
  font-size: 17px;
  overflow-x: hidden;
}

body ::selection {
  background-color: #00FF41;
  color: #000;
}

#main {
  line-height: 23px;
  word-wrap: break-word;
}

.info {
  color: #00FF414d;
}

.prefix{
  font-size: 0;
}

.prefix span{
  font-size: 17px;
}

.input-text {
  outline: none;
}

#matrix{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
